{% extends 'base.html' %}
{% load static %}
{% block page_content %}
{% block seo %}
  <title>О сайте</title>
  <meta name="description" content="Информация о сайте Посттариф">
  <meta name="keywords" content="">
  <link rel="canonical" href="https://posttarif.by/about"/>
  <meta property="og:title" content="О сайте по расчету стоимости доставки по Беларуси"/>
  <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png"/>
  <meta property="og:description" content="Информация о сайте Посттариф"/>
  <meta property="og:type" content="article"/>
{% endblock %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
      .marketing h2 {
    font-weight: 400;
         }
         }
      @media (min-width: 62em) {
         .featurette-heading {
        margin-top: 7rem;
    }
}
@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
      }
    </style>
<main>

  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Добро пожаловать на <span class="text-info">Posttarif.by!</span></h2>
        <p class="lead">Мы рады, что вы к нам заглянули. Если вы хоть раз изучали виды и стоимость почтовых отправлений
          и думали, что это слишком сложно – вы точно по адресу! Мы здесь для того, чтобы сделать ваш почтовый опыт проще и приятнее.
        </p>
      </div>
      <div class="col-md-5">
        <img src ="{% static '/images/gift.png' %}" width="500" height="500"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Что мы предлагаем?<span class="text-muted"></span></h2>
        <p class="lead">Posttarif.by – это ваш путеводитель в мире почтовых отправлений РУП <q>Белпочта</q>. Зачем
          тратить время на поиски нужной информации, когда можно просто зайти к нам и получить всё и сразу?
          Здесь вы найдёте:
        </p>
        <ul class="list-group">
          <li class="lead ms-4">Полный список видов почтовых отправлений</li>
          <li class="lead ms-4">Актуальные тарифы и дополнительные услуги</li>
          <li class="lead ms-4">Подробную информацию о сроках доставки</li>
        </ul>
      </div>
      <div class="col-md-5 order-md-1">
        <img src ="{% static '/images/letter.png' %}" width="500" height="500"/>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Почему нам можно доверять?<span class="text-muted"></span></h2>
        <p class="lead">1. Открытость и прозрачность: Мы честны и открыты с нашими пользователями. У нас нет
          скрытых условий и «мелкого шрифта».
        </p>
        <p class="lead">2. Отзывчивость: Нам всегда важно ваше мнение. Есть вопросы или предложения? Пишите
          нам <a class ="text-info" href="mailto:info@posttarif.by" rel="nofollow">info@posttarif.by</a>, мы
          открыты к диалогу и всегда готовы помочь.
        </p>
        <p class="lead">3. Профессионализм: Несмотря на наш лёгкий стиль, мы профессионалы в своём деле.
          Posttarif.by – это результат множества часов работы, тестирования и совершенствования.
        </p>
      </div>
      <div class="col-md-5">
        <img src ="{% static '/images/package.png' %}" width="500" height="500"/>
      </div>
    </div>

  </div><!-- /.container -->
</main>
{% endblock %}
