{% load static %}
<div class="row row-cols-1 row-cols-md-3">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a class="navbar-brand" href="https://mishuta-nutrition.pro/" target="_blank">
            <img src="{% static '/images/nutriciolog.jpg' %}" alt="" width="80" height="120" class="d-inline-block">
            <div class="d-inline-block align-middle ms-3">
            <span>mishuta-nutrition.pro</span>
            <h5 class="card-title text-break">В Новый Год с энергией <br>и стройностью</h5>
            <h6 class="card-subtitle mb-2 text-muted">Консультация нутрициолога</h6>
            </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a class="navbar-brand" href="https://evina-style.by/makeup-course.html" target="_blank">
            <img src="{% static '/images/makeup.jpg' %}" alt="" width="80" height="120" class="d-inline-block">
            <div class="d-inline-block align-middle ms-3">
            <span>evina-style.by</span>
            <h5 class="card-title">Макияж для себя</h5>
            <h6 class="card-subtitle mb-2 text-muted">Индивидуальный подход</h6>
            </div>
        </a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <a class="navbar-brand" href="https://xn--h1aekboqa.xn--90ais/catalogue/category/kantselyarskie-tovary_4/" target="_blank">
            <img src="{% static '/images/kanztovary.jpg' %}" alt="" width="80" height="120" class="d-inline-block">
            <div class="d-inline-block align-middle ms-3">
            <span>оффисок.бел</span>
            <h5 class="card-title">Канцелярские товары</h5>
            <h6 class="card-subtitle mb-2 text-muted">На складе и под заказ</h6>
            </div>
        </a>
      </div>
    </div>
  </div>
</div>