<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1, maximum-scale=6, minimum-scale=1 shrink-to-fit=no">
    <meta http-equiv ="X-UA-Compatible" content = "ie-edge">
    {% block seo %}
    {% endblock %}
    <meta name="google-site-verification" content="tk4qpuwEg0oCcqwDJimqQPVlufw_jyqJ2Oukma59cH8"/>
    <meta name="yandex-verification" content="fa7b2bea76fff0e0"/>
    <meta name="robots" content="index,follow"/>
    <link rel="icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="https://posttarif.by/favicon.ico" type="image/x-icon" sizes="any"><!-- 32×32 -->
    <link rel="apple-touch-icon" href="https://posttarif.by/apple-touch-icon.png" type="image/png">
    <link rel="icon" href="https://posttarif.by/icon_192.png" type="image/png"><!-- 192×192 -->
    <link rel="icon" href="https://posttarif.by/icon_512.png" type="image/png"><!-- 512×512 -->
    <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
    .bi { vertical-align: -.5rem; }    form { display: flex; }
    .goog-te-gadget {
        font-size: 0;}
    .goog-logo-link {
        display: none;}
    .goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon * {
        text-transform: capitalize;}
    .skiptranslate goog-te-gadget {
        display: none;}
    .goog-te-combo {
        border: 0;
        outline: 0;}
    </style>
<!-- Yandex.RTB -->
<script>window.yaContextCb=window.yaContextCb||[]</script>
<script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>
<div class="container py-3">
  <header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
  <a href="{% url 'main' %}" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-calculator text-info" role="img" viewBox="0 0 16 16">
  <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
  <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <span class="fs-4 text-info">PostTarif</span>
  </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExample03">
      <ul class="navbar-nav mr-auto mb-2 mb-sm-0">
        <li class="nav-item active">
          <a class="nav-link dropdown-toggle text-info" href="#" id="dropdown03" data-toggle="dropdown" aria-expanded="false">по Беларуси</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" href="{% url 'main' %}">доставка по Беларуси</a></li>
            <li><a class="dropdown-item" href="{% url 'ems_express_dostavka' %}">экспресс посылка</a></li>
            <li><a class="dropdown-item" href="{% url 'internal_transfer' %}">денежный перевод</a></li>
          </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle text-info" href="#" id="dropdown04" data-toggle="dropdown" aria-expanded="false">международные</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" href="{% url 'international' %}">международная доставка</a></li>
            <li><a class="dropdown-item" href="{% url 'ems_int' %}">EMS экспресс-доставка</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-info" href="{% url 'news_index' %}">Новости</a>
        </li>
        <li class="nav-item">
            <div class="lang_choose_cont">
            <div id="bxdynamic_jmonnO_start" style="display:none"></div>
            <div id="google_translate_element"></div>
      <script async>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({
            lang: 'ru',
            pageLanguages: 'ru',
            includedLanguages: 'ru,en,be,zh-CN'
        }, 'google_translate_element');
    }

    /*
     * Функция убирает надпись "Выбрать язык"
     * и подбирает язык установленный в браузере
     */
    function rmGoogleTeComboValue(i = 0) {
        if (i >= 10) return;

        if ($('.goog-te-combo').length === 0) {
            setTimeout(function () {
                ++i;
                rmGoogleTeComboValue(i);
            }, 2000);
        } else {
            if ($("select.goog-te-combo option:first").val() == '') {
                $("select.goog-te-combo option:first").remove();
                $('select.goog-te-combo option[value="ru"]').prop("selected", true);
            }
        }
    }

    /**
     * В рускоязычных бразуерах не переводися языковой список
     * функция переводит селект на английский**/
    function setLangToGTEnglish(i = 0) {
        if (i >= 8) return;
        if ($('.goog-te-combo').length === 0) {
            setTimeout(function () {
                ++i;
                setLangToGTEnglish(i);
            }, 3000);
        } else {
            if (($('.goog-te-combo option:selected').val() === 'en')) {
                $(' .goog-te-combo').find('option').each(function (i, item) {
                    let language = 'English';
                    let langId = $(this).val();
                    if (langId === 'ru') {
                        language = 'Russian'}
                    else if (langId === 'be') {
                        language = 'Belorussian'}
                    else if (langId === 'zh-CN') {
                        language = 'Сhinese'}
                    $(this).text(language);
                });
            }
        }
    }


    /**
     * В некоторых браузерах (Edge) вместо русского селекта показывает английский текст
     * функция переводит селект на русский
     * @param i
     */
    function setLangToGoogleTranslate(i = 0) {
        if (i >= 8) return;

        if ($('.goog-te-combo').length === 0) {
            setTimeout(function () {
                ++i;
                setLangToGoogleTranslate(i);
            }, 1000);
        } else {
            if (($('.goog-te-combo option:selected').val() === 'ru')) {
                $(' .goog-te-combo').find('option').each(function (i, item) {

                    let language = 'Русский';
                    let langId = $(this).val();
                    if (langId === 'en') {
                        language = 'English'}
                    else if (langId === 'be') {
                        language = 'Белорусский'}
                    else if (langId === 'zh-CN') {
                        language = '中文'}
                    $(this).text(language);
                });
            }
        }
    }

    function refreshPage() {
        $.ajax({
            url: document.location.href,
            success: function (html) {
                let data = html.replace('<body>', '<body><div id="body">').replace('</body>', '</div></body>');
                let body = $(data).filter('#body');
                $('body').html(body);
            }
        });
    }

    function loadGoogleTranslate() {
        $("script").each(function (i, item) {
            let src = $(item).attr('src');
            if (src !== undefined && src.indexOf('translate.google') !== -1) {
                $(item).remove();
            }
        });
        var googleTranslateScript = document.createElement('script');
        googleTranslateScript.type = 'text/javascript';
        googleTranslateScript.async = true;
        googleTranslateScript.src = 'https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit';
        (document.getElementsByTagName('head')[0]).appendChild(googleTranslateScript);
    }

    loadGoogleTranslate();
    rmGoogleTeComboValue();
    setLangToGoogleTranslate();
    setLangToGTEnglish();
</script>
       <div id="bxdynamic_jmonnO_end" style="display:none"></div>
       </div>
       </li>
      </ul>
    </div>
  </div>
</nav>
  </header>

{% block page_content %}
{% endblock %}

   <footer class="footer my-md-5 pt-md-5 border-top mt-auto">
       <div class="row">
<!-- Yandex.RTB R-A-13159426-1 -->
<script>
window.yaContextCb.push(() => {
    Ya.Context.AdvManager.render({
        "blockId": "R-A-13159426-1",
        "type": "floorAd",
        "platform": "desktop"
    })
})
</script>
<!-- Yandex.RTB R-A-13159426-2 -->
<script>
window.yaContextCb.push(() => {
    Ya.Context.AdvManager.render({
        "blockId": "R-A-13159426-2",
        "type": "floorAd",
        "platform": "touch"
    })
})
</script>
       </div>
    <div class="row">
      <div class="col-12 col-md mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="20" fill="currentColor" class="bi bi-calculator text-info" role="img" viewBox="0 0 16 16">
  <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
  <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <time class="d-block  text-body-secondary">&copy; 2025</time>
        <a class ="text-info " href="mailto:info@posttarif.by" rel="nofollow">info@posttarif.by</a>
      </div>
      <div class="col-6 col-md">
        <h5>По Беларуси</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'main' %}">доставка по Беларуси</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'ems_express_dostavka' %}">экспресс посылка</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'internal_transfer' %}">денежный перевод</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Международная</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'international' %}">международная доставка</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'ems_int' %}">EMS экспресс-доставка</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5><a class="link-dark text-decoration-none" href="{% url 'about' %}">О сайте</a></h5>
        <h5><a class="link-dark text-decoration-none" href="{% url 'news_index' %}">Новости</a></h5>
        <a class="text-info" href="#">Вверх</a>
      </div>
    </div>
  </footer>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
</body>
</html>