{% extends 'base.html' %}
{% block page_content %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Расчет стоимости<br>экспресс доставки EMS по Беларуси</h1>
      <p class="fs-5 text-body-secondary">Самое быстрое почтовое отправление РУП &#171Белпочта&#187</p>
    </div>
  </header>
    <div class="row row-cols-1 row-cols-md-3 mb-3">
    <form method="POST" class="EmsForm">{% csrf_token %}
      <div class="col">
        {{ form }}
        <button class="btn btn-lg btn-info text-white mt-4 mb-4" type="submit" name="send" >Рассчитать</button>
      </div>
    </form>
    </div>
      <p>{{ departure }}</p>
      <p>{{ destination }}</p>
      <p>{{ ems }}</p>
    <h2 class="display-6 text-center mb-4">Стоимость пересылки, руб.</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr class="border-info">
            <th style="width: 20%;"></th>
            <th style="width: 15%;">Для физических лиц</th>
            <th style="width: 15%;">Для юридических лиц</th>
            <th style="width: 15%;">В том числе НДС (юр.)</th>
            <th style="width: 15%;">В том числе за объявленную ценность</th>
            <th style="width: 15%;">Отслеживание</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-start">Отправление EMS по Беларуси:</th>
          </tr>
        <tr>
            <th scope="row" class="text-start">Прием в отделении связи</th>
            <td> 3,10 </td>
            <td> 3,10 </td>
            <td> 0,52 </td>
            <td></td>
            <td> да </td>
          </tr>
        <tr>
            <th scope="row" class="text-start">Прием на дому или в офисе</th>
            <td> 3,10 </td>
            <td> 3,10 </td>
            <td> 0,52 </td>
            <td></td>
            <td> да </td>
          </tr>



        </tbody>
      </table>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Письмо, бандероль, мелкий пакет простые</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
             {% for rate in simple %}
             {{ rate.fiz }}
             <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
             {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>нет отслеживания</li>
              <li>оплата марками</li>
              <li>прием в почтовый ящик</li>
              <li>Д + 3</li>
              <li>вручение в почтовый ящик</li>
            </ul>
            <label class="w-100 btn btn-lg btn-info text-white">доступный вариант</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Письмо, бандероль, мелкий пакет заказные</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in registered %}
              {{ rate.fiz }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>отслеживание</li>
              <li>прием оператором</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">надежный вариант</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 text-bg-info text-white border-info">
            <h4 class="my-0 fw-normal">Письмо, мелкий пакет с объявленной ценностью</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in value_letter %}
           {{ rate.fiz }} {{ rate.sep}} {{ rate.yur }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
              </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>отслеживание</li>
              <li>прием оператором</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">для ценных документов</button>
          </div>
        </div>
      </div>
    </div>
  </main>
 {% endblock %}