{% extends 'base.html' %}
{% block page_content %}
{% block seo %}
  <title>Экспресс-доставка почтой по Беларуси: расчет стоимости на тарификаторе</title>
  <meta name="description" content="Рассчитай на тарификаторе стоимость экспресс-доставки EMS Белпочта по Беларуси">
  <meta name="keywords" content="Экспресс-доставка, посылка, емс, из дома, из офиса, с доставкой в день приема, тарификатор, калькулятор Белпочта">
  <link rel="canonical" href="https://posttarif.by/ems_express_dostavka"/>
  <meta property="og:title" content="Расчет стоимости экспресс-доставки EMS по Беларуси"/>
  <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png"/>
  <meta property="og:description" content="Самое быстрое почтовое отправление РУП Белпочта - EMS"/>
  <meta property="og:type" content="article"/>
{% endblock %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Расчет стоимости<br>экспресс-доставки EMS<br>по Беларуси</h1>
      <p class="fs-5 text-body-secondary">Самое быстрое почтовое отправление РУП <q>Белпочта</q></p>
    </div>
  </header>
  <div class="row row-cols-1 row-cols-md-1 mb-3">
      <form method="POST" class="EmsForm">{% csrf_token %}
        <div class="col">
            {{ form.departure.label }}
            {{ form.departure }}
            {{ form.departure.error_messages }}
            <p></p>
            {{ form.destination.label }}
            {{ form.destination }}
            {{ form.destination.error_messages }}
            <p></p>
            {{ form.weight.label }}
            {{ form.weight }}
            {{ form.weight.error_messages }}
            <p></p>
            {{ form.declared_value.label }}
            {{ form.declared_value }}
            {{ form.declared_value.error_messages }}
        </div>
        <div class="col ms-5">
            {{ form.delivery.label }}
            {{ form.delivery }}
            {{ form.delivery.error_messages }}
            <p></p>
            {{ form.notification.label }}
            {{ form.notification }}
            {{ form.notification.error_messages }}
            <p></p>
            {{ form.fragile.label }}
            {{ form.fragile }}
            {{ form.fragile.error_messages }}
            <p></p>
            <p>
          <button class="btn btn-lg btn-info text-white mt-4 mb-4" type="submit" name="send">Рассчитать</button>
            </p>
        </div>
      </form>
  </div>
    <h2 class="display-6 text-center mb-4">Стоимость пересылки EMS по Беларуси, руб.</h2>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr class="border-info">
            <th style="width: 15%;"></th>
            <th style="width: 15%;">Для физ. лиц</th>
            <th style="width: 15%;">Для юр. лиц</th>
            <th style="width: 15%;">В т. ч. НДС (юр.)</th>
            <th style="width: 15%;">В т. ч. за объявленную ценность</th>
            <th style="width: 15%;">В т. ч. за уведомление</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-start table-info" colspan="7">Документы:</th>
        </tr>
         <tr>
            <th scope="row" class="text-start">Прием в отделении связи</th>
            {% for rate in post_office_ems_documents_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> {{ rate.notification }}</td>
            {% endfor %}
        </tr>
         <tr>
            <th scope="row" class="text-start">Прием в офисе или на дому</th>
            {% for rate in home_ems_documents_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> {{ rate.notification }}</td>
            {% endfor %}
          </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="7">Товары:</th>
          </tr>
        <tr>
            <th scope="row" class="text-start">Прием в отделении связи</th>
            {% for rate in post_office_ems_goods_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> {{ rate.notification }}</td>
            {% endfor %}
        </tr>
         <tr>
            <th scope="row" class="text-start">Прием в офисе или на дому</th>
            {% for rate in home_ems_goods_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> {{ rate.notification }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    </div>
     <p>Отслеживаются все отправления EMS</p>
  </main>
 {% endblock %}
