{% extends 'base.html' %}
{% block page_content %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Расчет стоимости экспресс доставки EMS по Беларуси</h1>
      <p class="fs-5 text-body-secondary">Самое быстрое почтовое отправление РУП &#171Белпочта&#187</p>
    </div>
  </header>
  <div class="row row-cols-1 row-cols-md-3 mb-3">
      <form method="POST" class="EmsForm">{% csrf_token %}
      <div class="col">
          {{ form }}


          <button class="btn btn-lg btn-info text-white mt-4 mb-4" type="submit" name="send" >Рассчитать</button>
      </div>
      </form>

<!--         <div class = "col ms-5">-->



<!--    <div class="form-check mb-3">-->
<!--      <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="option1" checked>-->
<!--      <label class="form-check-label" for="Radios1">-->
<!--        с доставкой в течение рабочего дня, следующего за днем приема-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="form-check mb-3">-->
<!--      <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="option2">-->
<!--      <label class="form-check-label" for="Radios2">-->
<!--        с доставкой до 10 часов рабочего дня, следующего за днем приема-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="form-check mb-3">-->
<!--      <input class="form-check-input" type="radio" name="Radios" id="Radios3" value="option3">-->
<!--      <label class="form-check-label" for="Radios3">-->
<!--        с доставкой в указанное время рабочего дня, следующего за днем приема-->
<!--      </label>-->
<!--    </div>-->
<!--    <div class="form-check mb-3">-->
<!--      <input class="form-check-input" type="radio" name="Radios" id="Radios4" value="option4">-->
<!--      <label class="form-check-label" for="Radios4">-->
<!--        с доставкой в день приема-->
<!--      </label>-->
<!--    </div>-->
<!--    </div>-->


 </div>
 <p>{{ ems }}</p>
 <p>{{ ems_zone }}</p>

    <h2 class="display-6 text-center mb-4">Стоимость пересылки по Беларуси, руб.</h2>

    <div class="table-responsive">
      <table class="table text-center table-striped">
        <thead>
          <tr class="border-info">
            <th style="width: 20%;"></th>
            <th style="width: 15%;">Для физ. лиц</th>
            <th style="width: 15%;">Для юр. лиц</th>
            <th style="width: 15%;">В том числе НДС (юр.)</th>
            <th style="width: 15%;">В том числе за объявленную ценность</th>
            <th style="width: 15%;">Отслеживание</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-start">Документы:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Прием в отделении связи</th>
            {% for rate in post_office_ems_documents_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> да </td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start">Прием в офисе или на дому</th>
            {% for rate in home_ems_documents_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> да </td>
            {% endfor %}
          </tr>
        <tr>
            <th scope="row" class="text-start">Товары:</th>
          </tr>
        <tr>
            <th scope="row" class="text-start">Прием в отделении связи</th>
            {% for rate in post_office_ems_goods_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> да </td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start">Прием в офисе или на дому</th>
            {% for rate in home_ems_goods_cost %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> да </td>
            {% endfor %}
          </tr>

        </tbody>
      </table>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    </div>
  </main>
 {% endblock %}
