{% extends 'base.html' %}

{% block seo %}
    <title>Тарификатор почтовых отправлений Белпочта</title>
    <meta name="description" content="Рассчитать стоимость посылки. Стоимость заказного письма, посылки, заказного мелкого пакета, посылки с оплаченной упаковкой, 1 класс">
    <meta name="keywords" content="Рассчитать доставку, доставка, посылка, тарификатор, калькулятор, заказное письмо, первый класс, Посттариф, Posttarif, РБ, по Беларуси, QR box">
    <link rel="canonical" href="https://posttarif.by"/>
    <meta property="og:title" content="Рассчитать стоимость доставки по Беларуси"/>
    <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png"/>
    <meta property="og:description" content="Рассчитай на тарификаторе стоимость доставки любых видов почтовых отправлений: заказной мелкий пакет, посылка, с оплаченной упаковкой, 1 класс"/>
    <meta property="og:type" content="article"/>
{% endblock %}
{% block page_content %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Расчет стоимости <br>доставки по Беларуси</h1>
      <p class="fs-5 text-body-secondary">Какое почтовое отправление самое быстрое, надежное и доступное?<br>
        Введите вес отправления в граммах, и таблица покажет все варианты пересылки РУП <q>Белпочта</q> </p>
    </div>
  </header>
    <div class="row row-cols-1 row-cols-md-1 mb-3">
    <form method="POST" class="PostForm">{% csrf_token %}
      <div class="col">
         {{ form.weight.label }}
         {{ form.weight }}
         {{ form.weight.error_messages }}
         <p></p>
         {{ form.declared_value.label }}
         {{ form.declared_value }}
         {{ form.declared_value.error_messages }}
        <p>
          <button class="btn btn-lg btn-info text-white mt-4 mb-4" type="submit" name="send">Рассчитать</button>
         </p>
      </div>
      <div class="col ms-5 data-nosnippet">
         {{ form.notification.label }}
         {{ form.notification }}
         {{ form.notification.errors }}
      </div>
    </form>
    </div>

    <h2 class="display-6 text-center mb-4">Стоимость пересылки, руб.</h2>
    <div class="table-responsive">
      <table class="table text-center mb-5">
        <thead>
          <tr class="border-info">
            <th style="width: 25%;"></th>
            <th style="width: 15%;">Физ. лица</th>
            <th style="width: 15%;">Юр. лица, ИП</th>
            <th style="width: 15%;">в т.ч. НДС (юр.)</th>
            <th style="width: 10%;">в т.ч. за объявленную ценность</th>
            <th style="width: 10%;">в т.ч. за уведомление</th>
            <th style="width: 10%;">Отслеживание</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Простое письмо, бандероль</th>
            {% for rate in simple %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> </td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row" class="text-start">Простой мелкий пакет</th>
            {% for rate in package %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> </td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row" class="text-start">Заказное письмо, бандероль, мелкий пакет</th>
            {% for rate in registered %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> {{ rate.notification }}</td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row" class="text-start">Мелкий пакет с объявленной ценностью</th>
            {% for rate in value_package %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td> {{ rate.notification }}</td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row" class="text-start">Письмо «1 класс»</th>
            {% for rate in first_class %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td> {{ rate.for_declared }}</td>
            <td></td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
          <tr class="border-info">
            <th scope="row" class="text-start">Посылка</th>
            {% for rate in parcel %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td> {{ rate.for_declared_fiz }} {{rate.sep1}} {{ rate.for_declared_yur }}</td>
            <td> {{ rate.notification }}</td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
           <tr>
            <th scope="row" colspan="7" class="text-start table-info">Оплаченная пересылка S/M/L с учетом стоимости упаковки:</th>
           </tr>
        <tr>
            <th scope="row" class="text-start">Заказной мелкий пакет (пластиковый конверт)</th>
           {% for rate in sml %}
            <td> {{ rate.fiz1 }}/ {{ rate.fiz2 }}/ {{ rate.fiz3 }}</td>
            <td> {{ rate.fiz1 }}/ {{ rate.fiz2 }}/ {{ rate.fiz3 }}</td>
            <td> {{ rate.item_vat1 }}/ {{ rate.item_vat2 }}/ {{ rate.item_vat3 }}</td>
            <td></td>
            <td></td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
        <tr class="border-info">
            <th scope="row" class="text-start">Посылка (коробка)</th>
           {% for rate in sml %}
            <td> {{ rate.parcel_fiz1 }}/ {{ rate.parcel_fiz2 }}/ {{ rate.parcel_fiz3 }}</td>
            <td> {{ rate.parcel_fiz1 }}/ {{ rate.parcel_fiz2 }}/ {{ rate.parcel_fiz3 }}</td>
            <td> {{ rate.parcel_item_vat1 }}/ {{ rate.parcel_item_vat2 }}/ {{ rate.parcel_item_vat3 }}</td>
            <td></td>
            <td></td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>
          <tr>
            <th scope="row" colspan="7" class="text-start table-info">Посылки с оформлением в личном кабинете:</th>
          </tr>
         <tr>
            <th scope="row" class="text-start">Тариф Предпочтовый</th>
           {% for rate in parcel_3_4_5 %}
            <td> {{ rate.fiz }}</td>
            <td> </td>
            <td> </td>
            <td> {{ rate.for_declared }} </td>
            <td> {{ rate.notification }}</td>
            <td> да </td>
            {% endfor %}
          </tr>

          <tr class="border-info">
            <th scope="row" class="text-start colspan='6'">QR box</th>
           {% for rate in qr_box %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td> {{ rate.for_declared_fiz }} {{rate.sep1}} {{ rate.for_declared_yur }} </td>
            <td> {{ rate.notification }}</td>
            <td> {{ rate.tracking }}</td>
            {% endfor %}
          </tr>

        <tr class="border-info">
            <th scope="row" class="text-start"><a class="me-3 py-2 link-body-emphasis text-decoration-none text-info"
                                                  href="ems_express_dostavka" target="blank">экспресс посылка</a></th>
             <td colspan="6"><a class="me-3 py-2 text-info" href="ems_express_dostavka"
                                  target="blank">Для расчета экспресс посылки перейдите по ссылке</a></td>
        </tr>
        </tbody>
      </table>
    </div>
     <h2 class="display-6 text-center mt-4 mb-4">Подробнее об отправлениях</h2>
<p class="text-center">Д + 3 означает срок доставки 3 дня, включая день отправки</p>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 border-info">
            <h4 class="my-0 fw-normal">Простое письмо, бандероль</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
             {% for rate in simple %}
            {{ rate.fiz }} {{ rate.sep}} {{ rate.yur }}
             <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
             {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>нет отслеживания</li>
              <li>оплата марками</li>
              <li>прием в почтовый ящик</li>
              <li>Д + 3</li>
              <li>вручение в почтовый ящик</li>
            </ul>
            <label class="w-100 btn btn-lg btn-info text-white">доступный вариант</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 border-info">
            <h4 class="my-0 fw-normal">Простой мелкий пакет</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
             {% for rate in package %}
            {{ rate.fiz }} {{ rate.sep}} {{ rate.yur }}
             <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
             {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>нет отслеживания</li>
              <li>оплата марками</li>
              <li>прием в почтовый ящик/оператором</li>
              <li>Д + 3</li>
              <li>вручение в почтовый ящик/оператором</li>
            </ul>
            <label class="w-100 btn btn-lg btn-info text-white">доступный вариант</label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 border-info">
            <h4 class="my-0 fw-normal">Заказное письмо, бандероль, мелкий пакет</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in registered %}
              {{ rate.fiz }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>отслеживание</li>
              <li>прием оператором</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">надежный вариант</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 text-bg-info text-white border-info">
            <h4 class="my-0 fw-normal">Мелкий пакет с объявленной ценностью</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in value_package %}
           {{ rate.fiz }} {{ rate.sep}} {{ rate.yur }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
              </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>отслеживание</li>
              <li>прием оператором</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">для ценных документов</button>
          </div>
        </div>
      </div>


    <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 border-info">
            <h4 class="my-0 fw-normal">Письмо «1 класс»</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in first_class %}
              {{ rate.fiz }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>отслеживание</li>
              <li>оплата марками</li>
              <li>прием в почтовый ящик</li>
              <li>Д + 1 / Д + 2</li>
              <li>вручение в почтовый ящик</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">быстрый вариант</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 border-info">
            <h4 class="my-0 fw-normal">Посылка</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in parcel %}
              {{ rate.fiz }} {{ rate.sep2 }} {{ rate.yur }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>прием оператором</li>
              <li>отслеживание</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">надежный вариант</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 text-bg-info text-white border-info">
            <h4 class="my-0 fw-normal">Оплаченная пересылка S/M/L<br>заказной мелкий пакет</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in sml %}
              {{ rate.fiz1 }}/ {{ rate.fiz2 }}/ {{ rate.fiz3 }}
              {% endfor %}
              <small class="text-body-secondary fw-light">руб.</small>
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
            <li>Размер S	229х324 мм</li>
            <li>Размер M	280х380 мм</li>
            <li>Размер L	320х355 мм</li>
              <li>приобрети пакет у оператора</li>
              <li>отслеживание</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">удобный вариант</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 text-bg-info text-white border-info">
            <h4 class="my-0 fw-normal">Оплаченная пересылка S/M/L<br>посылка</h4>
          </div>
          <div class="card-body">
            <h2 class="pricing-card-title">
              {% for rate in sml %}
              {{ rate.parcel_fiz1 }}/ {{ rate.parcel_fiz2 }}/ {{ rate.parcel_fiz3 }}
              {% endfor %}
              <small class="text-body-secondary fw-light">руб.</small>
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
            <li>Размер S	270х175х60 мм</li>
            <li>Размер M	320х220х110 мм</li>
            <li>Размер L	400х250х200 мм</li>
              <li>приобрети коробку у оператора</li>
              <li>отслеживание</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">удобный вариант</button>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- пустой див-->
      </div>

      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 text-bg-info text-white border-info">
            <h4 class="my-0 fw-normal">Посылка <br>&#171Тариф Предпочтовый&#187</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in parcel_3_4_5 %}
              {{ rate.fiz }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>online оформление <br>в личном кабинете интернет-портала или
мобильном приложении</li>
              <li>прием оператором</li>
              <li>отслеживание</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">новый вариант</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
          <div class="card-header py-3 text-bg-info text-white border-info">
            <h4 class="my-0 fw-normal">Посылка <br>&#171QR box&#187</h4>
          </div>
          <div class="card-body">
            <h2 class="card-title pricing-card-title">
              {% for rate in qr_box %}
              {{ rate.fiz }} {{ rate.sep2}} {{ rate.yur }}
              <small class="text-body-secondary fw-light">{{ rate.rub }}</small>
              {% endfor %}
            </h2>
            <ul class="list-unstyled mt-3 mb-4">
              <li>online оформление <br>в личном кабинете интернет-портала или
мобильном приложении</li>
              <li><strong>прием в месте самообслуживания</strong></li>
              <li>отслеживание</li>
              <li>Д + 3</li>
              <li>возмещение при утрате</li>
              <li>вручение лично в руки</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-info text-white">новый вариант</button>
          </div>
        </div>
      </div>

        <div class="col">
        <!-- пустой див-->
        </div>
    </div>
  </main>

 {% endblock %}