{% extends 'base.html' %}
{% block seo %}
  <title>Посылка в Россию из Беларуси: стоимость отправки | Тарификатор</title>
  <meta name="description" content="Рассчитать стоимость посылки в Россию из Беларуси. Цены на международные отправления: письма в РФ, посылки в Израиль, Германию, Польшу. Калькулятор тарифов Белпочта для МПО">
  <meta name="keywords" content="посылка в россию, письмо в россию, международная посылка, белпочта посылки в россию, посылка в израиль, письмо в польшу, письмо в германию, стоимость посылки в россию, международные отправления белпочта">
  <link rel="canonical" href="https://posttarif.by/international">
  <meta property="og:title" content="Посылка в Россию из Беларуси: рассчитать стоимость на тарификаторе">
  <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png">
  <meta property="og:description" content="Калькулятор стоимости посылок и писем в Россию, Израиль, Германию, Польшу. Тарифы Белпочта на международные отправления">
  <meta property="og:url" content="https://posttarif.by/international">
{% endblock %}
{% block page_content %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Расчет стоимости<br>международных отправлений</h1>
      <p class="fs-5 text-body-secondary">Международные письма и посылки</p>
    </div>
  </header>
  <div class="row row-cols-1 row-cols-md-1 mb-3">
      <form method="POST" class="ParcelIntForm">{% csrf_token %}
        <div class="col">
            {{ form.destination.label }}
            {{ form.destination }}
            {{ form.destination.error_messages }}
            <p></p>
            {{ form.weight.label }}
            {{ form.weight }}
            {{ form.weight.error_messages }}
            <p></p>
            {{ form.declared_value.label }}
            {{ form.declared_value }}
            {{ form.declared_value.error_messages }}
             <p></p>
            <p>
          <button class="btn btn-lg btn-info text-white mt-4 mb-4" type="submit" name="send">Рассчитать</button>
            </p>
        </div>
          <div class="col">
          </div>
      </form>
  </div>
    <h2 class="display-6 text-center mb-4">Стоимость пересылки международных отправлений, руб.</h2>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr class="border-info">
            <th style="width: 15%;"></th>
            <th style="width: 15%;">Физ. лица</th>
            <th style="width: 15%;">Юр. лица, ИП</th>
            <th style="width: 15%;">В т. ч. НДС (юр.)</th>
            <th style="width: 15%;">В т. ч. за объявленную ценность</th>
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Письма, бандероли простые:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Неприоритетные</th>
            {% for rate in non_priority_letter %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in priority_letter %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Мелкие пакеты простые:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Неприоритетные</th>
            {% for rate in non_priority_pack %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in priority_pack %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Письма, бандероли отслеживаемые:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in tracked_priority %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Мелкие пакеты отслеживаемые:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in tracked_priority_pack %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Письма, бандероли заказные:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Неприоритетные</th>
            {% for rate in registered_non_priority %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in registered_priority %}
             <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Мелкие пакеты заказные:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Неприоритетные</th>
            {% for rate in registered_non_priority_pack %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in registered_priority_pack %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat }}</td>
            <td></td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Письма с объявленной ценностью:</th>
        </tr>
        <tr>
            <th scope="row" class="text-start">Неприоритетные</th>
            {% for rate in value_non_priority_letter %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td> {{ rate.for_declared }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in value_priority_letter %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td> {{ rate.for_declared }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th scope="row" class="text-start table-info" colspan="5">Посылки:</th>
        </tr>
         <tr>
            <th scope="row" class="text-start">Неприоритетные</th>
            {% for rate in non_priority %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td> {{ rate.for_declared_fiz }} {{rate.sep1}} {{ rate.for_declared_yur }}</td>
            {% endfor %}
        </tr>
         <tr>
            <th scope="row" class="text-start">Приоритетные</th>
            {% for rate in priority %}
            <td> {{ rate.fiz }}</td>
            <td> {{ rate.yur }}</td>
            <td> {{ rate.item_vat_yur }}</td>
            <td> {{ rate.for_declared_fiz }} {{rate.sep1}} {{ rate.for_declared_yur }}</td>
            {% endfor %}
          </tr>
        <tr class="border-info table-info">
            <th scope="row" class="text-start"><a class="me-3 py-2 link-body-emphasis text-decoration-none text-info"
                                                  href="ems_int" target="blank">EMS экспресс-доставка</a></th>
             <td colspan="5"><a class="me-3 py-2 text-info" href="ems_int"
                                  target="blank">Для расчета экспресс-доставки EMS перейдите по ссылке</a></td>
        </tr>

        </tbody>
      </table>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    </div>
     <p>Отслеживаются все категории международных отправлений за исключением простых писем, бандеролей, простых мелких пакетов</p>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Service",
  "name": "Калькулятор стоимости посылок Белпочта",
  "description": "Расчет стоимости международных почтовых отправлений из Беларуси",
  "provider": {
    "@type": "Organization",
    "name": "PostTarif.by"
  },
  "areaServed": ["BY", "RU", "IL", "DE", "PL", "US", "KZ", "LT"],
  "serviceType": "Почтовые услуги"
}
</script>
  </main>
 {% endblock %}
