{% extends 'base.html' %}
{% load static %}
{% block seo %}
  <title>Политика cookie сайта Посттариф</title>
  <meta name="description" content="Политика куки сайта Посттариф">
  <meta name="keywords" content="">
  <link rel="canonical" href="https://posttarif.by/politika_cookie"/>
  <meta property="og:title" content="О политике cookie сайта по расчету стоимости доставки по Беларуси"/>
  <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png"/>
  <meta property="og:description" content="О политике cookie сайта по расчету стоимости доставки"/>
  <meta property="og:type" content="article"/>
{% endblock %}
{% block page_content %}
<main>
  <div class="container marketing">
    <div class="row featurette mt-5">
      <div class="col-md-8">
        <h1 class="featurette-heading">Политика в отношении обработки файлов cookie</h1>
        <p>09.03.2026</p>
     <h4 class="mt-5">1. Куки (англ. cookies) являются текстовым файлом, сохраненным в браузере компьютера (мобильного устройства) посетителей и пользователей сайта posttarif.by при его посещении для отражения совершенных действий.
    </h4> <br>
    <p>Целью обработки cookie является обеспечение удобства посетителей сайта и повышение качества его функционирования.
    </p>
    <p>Файлы cookie могут собираться, систематизироваться, храниться, изменяться, использоваться, обезличиваться, блокироваться, удаляться с использованием средств автоматизации.
    </p>
    <p>Cookie могут быть постоянными или временными. Постоянные cookie сохраняются на компьютере до тех пор, пока пользователь их не удалит (Posttarif.by хранит их не более одних суток). Временные действуют до тех пор, пока пользователь (посетитель) сайта не закроет браузер.
    </p>
    <p>Файлы cookie не используются для прямого установления личности пользователя, однако собираемая с их помощью информация (включая IP-адрес) может рассматриваться как персональные данные в соответствии с законодательством Республики Беларусь.
    </p>
      </div>
      <div class="col-md-4">
        <img src ="{% static '/images/cookie.png' %}" width="300" height="300" alt="image"/>
      </div>
    </div>
   <hr class="featurette-divider">

    <h4 class="mt-5">2. Обработка аналитических и рекламных куки осуществляется уполномоченными лицами posttarif.by:
    </h4>
    <br>
    <p>Яндекс Метрика &mdash; сервис веб-аналитики и Рекламной сети Яндекса (РСЯ) предоставляемые ООО &bdquo;Яндекс&ldquo;. Адрес: г. Москва, ул. Льва Толстого, д. 16, 119021. Политика конфиденциальности Яндекс  <a href="https://yandex.ru/legal/confidential/" title="https://yandex.ru/legal/confidential/">https://yandex.ru/legal/confidential/</a>
    </p>
    <p>Google Analytics &mdash; сервис веб-аналитики, предоставляемый компанией Google, Inc. Адрес: Google, Google Data Protection Office, 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA. Политика конфиденциальности Google &mdash; <a href="#infocollect" title="https://policies.google.com/privacy?hl=ru#infocollect">https://policies.google.com/privacy?hl=ru#infocollect</a>.
    </p>
    <p>Для работы аналитических сервисов (Яндекс Метрика, Google Analytics) файлы cookie могут передаваться за пределы Республики Беларусь, в том числе в Российскую Федерацию (Яндекс) и Соединённые Штаты Америки (Google). Указанные страны не обеспечивают надлежащего уровня защиты персональных данных по мнению уполномоченного органа Республики Беларусь. Используя наш сайт и давая согласие на обработку cookie, вы осознаёте возможные риски, связанные с такой передачей. Отказ от cookie аналитики исключает передачу данных.
    </p>
    <p>Обращаем внимание, что обработка куки осуществляется Google Analytics, зарегистрированное в США, которая не входит в перечень иностранных государств, являющихся сторонами Конвенции Совета Европы о защите физических лиц при автоматизированной обработке персональных данных, принятой в г. Страсбурге 28.01.1981 (далее &mdash; Конвенция) (приказ директора Национального центра защиты персональных данных Республики Беларусь от 15 ноября 2021 г. &#8470; 14 &bdquo;О трансграничной передаче персональных данных&ldquo;).
    </p>
    <p>Страны, не подписавшие и не ратифицировавшие указанную выше Конвенцию, относятся к иностранным государствам, на территории которых не обеспечивается надлежащий уровень защиты прав субъектов персональных данных.
    </p>
    <p>В связи с чем posttarif.by в соответствии с требованиями законодательства информирует о возможных рисках, связанных с необеспечением надлежащих способов защиты персональных данных от несанкционированного или случайного доступа к ним, изменения, блокирования, удаления, предоставления, распространения, совершения иных неправомерных действий в отношении предоставляемых персональных данных в странах, куда такие данные передаются.
    </p>
    <p>При желании, пользователь может отказаться от использования cookie-файлов Google Analytics, Яндекс Метрика для отслеживания своей активности на всех веб-сайтах, пройдя по следующим ссылкам: <a href="https://tools.google.com/dlpage/gaoptout" title="https://tools.google.com/dlpage/gaoptout">http://tools.google.com/dlpage/gaoptout</a>, <a href="https://yandex.ru/support/metrica/general/opt-out.html" title="https://yandex.ru/support/metrica/general/opt-out.html">https://yandex.ru/support/metrica/general/opt-out.html</a>.
    </p>
   <hr class="featurette-divider">
    <h4 class="mt-5">3. Обрабатываемые на сайте куки и сроки их хранения:
    </h4>
    <br>
       <ul class="list-group">
          <li class="ms-4">Технические (необходимые) куки – хранятся до закрытия браузера (сессионные) либо не более 1 года (например, для запоминания факта согласия пользователя на обработку cookie).</li>
          <li class="ms-4">Функциональные куки – хранятся до закрытия браузера или не более 1 года (для запоминания выбранных пользователем настроек).</li>
          <li class="ms-4">Аналитические и рекламные куки (РСЯ) – срок хранения зависит от конкретного типа файлов cookie и может составлять от нескольких минут до 13 месяцев (например, cookie yandexuid). Подробную информацию о сроках хранения cookie Яндекса можно найти в официальной документации сервиса</li>
       </ul>
   <hr class="featurette-divider">
    <h4 class="mt-5">4. Отключение и ограничение использования куки
    </h4>
    <br>
    <p>При первом посещении сайта вам будет показано уведомление об использовании cookie. Нажимая кнопку «Согласиться», вы даёте согласие на обработку всех типов cookie. До получения вашего согласия на сайте устанавливаются только технически необходимые cookie
    </p>
    <p>Посетители сайта могут принять или отклонить все обрабатываемые на сайте куки, кроме необходимых.
    </p>
    <p> Куки необходимы для полноценного использования сайта. При отключении cookie некоторые функции станут недоступны.
    </p>
    <p> Отключение функциональных куки может привести к ограничению пользователя в доступе к определенным функциональным возможностям сайта.
    </p>
    <p>Отключение аналитических куки не позволяет определять предпочтения посетителей сайта, в том числе наиболее и наименее популярные страницы и принимать меры по совершенствованию работы сайта исходя из предпочтений пользователей.
    </p>
    <p>Управление через настройки Яндекса. Помимо настроек браузера, вы можете отказаться от персонализированной рекламы от Яндекса, воспользовавшись специальным инструментом на странице: https://yandex.ru/tune/adv .
    <p>Отказ от сбора данных Яндекс Метрикой. Вы также можете отказаться от сбора данных Яндекс Метрикой, установив расширение для браузера: https://yandex.ru/support/metrica/general/opt-out.html.
    </p>
    <p>Посетитель может отказаться от использования куки на сайте, отключив их в настройках браузера.
    </p>
    <p>По окончании сроков хранения куки и повторном посещении сайта у посетителя сайта снова запрашивается согласие на обработку куки.
    </p>
    <p>Вместе с тем посетители сайта вправе изменить свой выбор настроек куки (в том числе отозвать согласие) в любое время в интерфейсе сайта путем перехода по ссылке настоящей политики.
    </p>
    <p>Помимо настроек куки на сайте посетители сайта могут принять или отклонить сбор всех или некоторых куки в настройках своего браузера.
    </p>
    <p>При этом некоторые браузеры позволяют посещать интернет-сайты в режиме инкогнито, чтобы ограничить хранимый на компьютере объем информации и автоматически удалять сессионные куки. Кроме того, субъект персональных данных может удалить ранее сохраненные куки выбрав соответствующую опцию в истории браузера.
    </p>
    <p>Подробнее с параметрами управления куки можно ознакомиться, перейдя по внешним ссылкам, ведущим на соответствующие страницы сайтов основных браузеров:⁠
    </p>
    <div>
        <p>- Firefox <a href="https://support.mozilla.org/ru/kb/udalenie-kuki-i-dannyh-sajtov-v-firefox?redirectslug=udalenie-kukov-dlya-udaleniya-informacii-kotoruyu-&redirectlocale=ru" target="_blank" rel="noreferrer" >ссылка</a></p>
        <p>- Safari <a href="https://support.apple.com/ru-ru/guide/safari/sfri11471/mac" target="_blank" rel="noreferrer">ссылка</a></p>
        <p>- Opera <a href="https://help.opera.com/ru/latest/web-preferences/#%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%B0%D0%BC%D0%B8-cookie" target="_blank" rel="noreferrer">ссылка</a></p>
        <p>- Microsoft Edge <a href="https://support.microsoft.com/ru-ru/windows/%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%B0%D0%BC%D0%B8-cookie-%D0%B2-microsoft-edge-%D0%BF%D1%80%D0%BE%D1%81%D0%BC%D0%BE%D1%82%D1%80-%D1%80%D0%B0%D0%B7%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0-%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8-%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank" rel="noreferrer">ссылка</a></p>
        <p>- Internet Explorer <a href="https://support.microsoft.com/ru-ru/windows/%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%B0%D0%BC%D0%B8-cookie-%D0%B2-microsoft-edge-%D0%BF%D1%80%D0%BE%D1%81%D0%BC%D0%BE%D1%82%D1%80-%D1%80%D0%B0%D0%B7%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0-%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8-%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-168dab11-0753-043d-7c16-ede5947fc64d" target="_blank" rel="noreferrer">ссылка</a></p>
    </div>
     <p>По всем вопросам, связанным с обработкой файлов cookie, вы можете обратиться по электронной почте <a class ="text-info" href="mailto:info@posttarif.by" rel="nofollow">info@posttarif.by</a> </p>
  </div><!-- /.container -->
</main>
{% endblock %}
