{% extends 'base.html' %}
{% block seo %}
    <title>Стоимость заказного письма с уведомлением РБ</title>
    <meta name="description" content="Отправка заказного письма с уведомлением. Актуальные тарифы, сколько стоит и как долго идет по РБ. Узнайте, что такое заказное республиканское письмо и сколько оно хранится на почте. Калькулятор стоимости доставки">
    <meta name="keywords" content="тарифы белпочта, рассчитать доставку, доставка, сколько стоит, тарификатор, калькулятор, заказное письмо, Посттариф, Posttarif, РБ, по Беларуси">
    <link rel="canonical" href="https://posttarif.by/registered">
    <meta property="og:title" content="Стоимость заказного письма с уведомлением РБ">
    <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png">
    <meta property="og:description" content="Отправка заказного письма с уведомлением. Актуальные тарифы, сколько стоит и как долго идет по РБ. Узнайте, что такое заказное республиканское письмо и сколько оно хранится на почте. Калькулятор стоимости доставки">
    <meta property="og:type" content="article">
{% endblock %}
{% block page_content %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Расчет стоимости<br>заказного письма по Беларуси</h1>
      <p class="fs-5 text-body-secondary">
        <p>Введите вес отправления в граммах, нажмите <b>Рассчитать</b> и таблица покажет стоимость пересылки РУП <q>Белпочта</q> </p>
    </div>
  </header>
    <div class="row row-cols-1 row-cols-md-3 mb-3">
    <form method="POST" class="PostForm">{% csrf_token %}
      <div class="col">
         {{ form.weight.label }}
         {{ form.weight }}
         {{ form.weight.error_messages }}
         <p></p>
        <p>
          <button class="btn btn-lg btn-info text-white mt-4 mb-4" type="submit" name="send">Рассчитать</button>
         </p>
      </div>
    </form>
    </div>

    <h2 class="display-6 text-center mb-4">Стоимость пересылки заказного письма, руб.</h2>
    <div class="table-responsive">
      <table class="table text-center mb-5">
        <thead>
          <tr class="border-info">
            <th style="width: 40%;"></th>
            <th style="width: 20%;">Физ. лица</th>
            <th style="width: 20%;">Юр. лица, ИП</th>
            <th style="width: 20%;">в т.ч. за уведомление</th>
          </tr>
        </thead>
        {% if registered %}
            {% with rate=registered.0 %}
        <tbody>
          <tr>
            <td class="text-start">Заказное письмо, бандероль, мелкий пакет без уведомления</td>
            <td> {{ rate.fiz }} </td>
            <td> {{ rate.yur }} </td>
            <td> </td>
          </tr>
          <tr>
            <td class="text-start">Заказное письмо, бандероль, мелкий пакет с простым уведомлением</td>
            <td> {{ rate.fiz2 }} </td>
            <td> {{ rate.yur2 }} </td>
            <td> {{ rate.notification2 }}</td>
          </tr>
          <tr>
            <td class="text-start">Заказное письмо, бандероль, мелкий пакет с заказным уведомлением</td>
            <td> {{ rate.fiz3 }} </td>
            <td> {{ rate.yur3 }} </td>
            <td> {{ rate.notification3 }} </td>
          </tr>
          <tr>
            <td class="text-start">Заказное письмо, бандероль, мелкий пакет с электронным уведомлением
                (Viber, sms, email)</td>
            <td> {{ rate.fiz4 }} </td>
            <td> {{ rate.yur4 }} </td>
            <td> {{ rate.notification4 }} </td>
                {% endwith %}
            {% endif %}
          </tr>
        </tbody>
      </table>
        <p>Расчет по тарифам, действующим с 01.01.2026</p>
    </div>
     <h2 class="display-6 text-center mt-4 mb-4">О заказных письмах</h2>
     <div class="row row-cols-1 row-cols-md-3 mb-3">
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
            <div class="card-header py-3 border-info">
            <h3 class="my-0 fw-normal">Что такое заказное письмо</h3>
            </div>
            <div class="card-body">
                <ul class="mt-3 mb-4">
                  <li>Это регистрируемое почтовое отправление - почтовое отправление, при приеме которого отправителю выдается квитанция и которое доставляется (вручается) адресату под расписку</li>
                  <li>При приеме отправителю выдается квитанция, что подтверждает факт и время сдачи отправления оператору связи.</li>
                  <li>Доставка (вручение) осуществляется адресату под расписку, что подтверждает факт и время получения.</li>
                  <li>Информация о всех регистрируемых почтовых отправлениях, в том числе адресные данные отправителей и адресатов, подлежит обязательному учету и хранению в единой автоматизированной системе учета и хранения данных</li>
                  <li>Оператор почтовой связи несет ответственность перед пользователями за утрату заказных почтовых отправлений.</li>
                </ul>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
            <div class="card-header py-3 border-info">
              <h3 class="my-0 fw-normal">Срок доставки заказного письма</h3>
            </div>
            <div class="card-body">
              <p>Д + 2 рабочих дня - между областными центрами Республики Беларусь</p>
              <p>Д + 3 рабочих дня - между остальными населенными пунктами Республики Беларусь</p>
              <p>где Д - день отправки письма</p>
              <p>Данные сроки должны выдерживаться для 95% отправлений</p>
               <p> Пример: если вы отправили заказное письмо из Минска в Гомель (оба - областные центры) в понедельник, ориентировочный
                срок доставки - среда</p>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
            <div class="card-header py-3 border-info">
              <h3 class="my-0 fw-normal">Срок хранения заказных писем</h3>
            </div>
            <div class="card-body">
              <p>Cрок хранения заказных писем в отделении связи при невозможности вручения адресату составляет 30
                  календарных дней со дня, следующего за днём поступления письма в объект почтовой связи.</p>
              <p>Заказное письмо с отметкой "Судебная повестка" имеет срок хранения 7 календарных дней</p>
              <p>Бесплатно письмо хранится первые 7 календарных дней. По истечении этого срока за хранение взимается плата по тарифам оператора связи</p>
              <p>Невручённое письмо подлежит возврату отправителю. Если адрес отправителя отсутствует или нечитаем, оно поступает в категорию "нерозданных почтовых отправлений"</p>
              <p>По заявлению адресата или отправителя срок хранения заказного письма можно продлить до 60 календарных дней со дня поступления. Это не относится к судебным повесткам.</p>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
            <div class="card-header py-3 border-info">
              <h3 class="my-0 fw-normal">Уведомление о вручении</h3>
            </div>
            <div class="card-body">
              <p>Это специальный почтовый бланк, который возвращается отправителю. На нём указаны:</p>
              <ul class="mt-3 mb-4">
                  <li>ФИО и подпись лица, получившего письмо</li>
                  <li>дата вручения</li>
                  <li>данные о почтовом отправлении (например, номер для отслеживания)</li>
              </ul>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
            <div class="card-header py-3 border-info">
              <h3 class="my-0 fw-normal">Порядок оказания услуги с уведомлением</h3>
            </div>
            <div class="card-body">
              <p>Отправитель при сдаче письма оплачивает не только пересылку, но и услугу «уведомление о вручении» (простым или заказным)</p>
              <p>Почта доставляет письмо и вручает его адресату лично под расписку</p>
              <p>Получатель расписывается в специальном бланке-извещении, подтверждая факт получения</p>
              <p>Почта возвращает заполненный бланк отправителю, он служит доказательством доставки.</p>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-5 rounded-3 shadow-sm border-info">
            <div class="card-header py-3 border-info">
              <h3 class="my-0 fw-normal">Какие письма отправляют заказными с уведомлением</h3>
            </div>
            <div class="card-body">
              <p>Такой документ считается подтверждением того, что конкретное лицо или организация в
                  определённую дату получили важную информацию (претензию, уведомление, требование, предложение и т.д.).
                  Это важно для соблюдения сроков, установленных законом или договором</p>
              <p>Используется для отправки:</p>
              <ul class="mt-3 mb-4">
                  <li>Судебных повесток, они принимаются только с заказным уведомлением</li>
                  <li>Претензий по договорам (например, досудебная претензия)</li>
                  <li>Уведомлений о расторжении договора аренды, найма, трудового договора</li>
                  <li>Важной деловой корреспонденции, факт получения которой необходимо зафиксировать</li>
              </ul>
            </div>
        </div>
      </div>
      </div>
  </main>
 {% endblock %}