{% extends 'base.html' %}
{% load static %}
{% block page_content %}
{% block seo %}
  <title>Новости по категориям</title>
  <meta name="description" content="Обновления на сайте, повышение тарифов на услуги">
  <meta name="keywords" content="Тарифы, рост тарифов, новые расчеты">
  <link rel="canonical" href="{% url 'news_category' category.slug %}"/>
  <meta property="og:title" content="Новости по категориям"/>
  <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png"/>
  <meta property="og:description" content="Обновления на сайте, повышение тарифов на услуги"/>
  <meta property="og:type" content="article"/>
{% endblock %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-5 fw-normal text-body-emphasis text-decoration-none">Изменения на сайте <br>
          по категории {{ category.name | capfirst | default_if_none:"-" }}</h1>
    </div>
  </header>
  <hr>
  {% for post in posts %}
<div class="row">
    <div class="col-md-3 order-md-1">
        <img src = "{{ post.image_min.url }}" alt = "{{ post.alt }}"/>
    </div>
    <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"><a class ="text-info text-decoration-none" href="{% url 'news_detail' slug=post.slug %}">{{ post.title }}</a><span class="text-muted"></span></h2>
        <small>
            {{ post.created_on.date }} |&nbsp;
            {% for category in post.categories.all %}
                <a href="{% url 'news_category' category.slug %}">
                {{ category.name | capfirst }}
                </a> |&nbsp;
            {% endfor %}
        </small>
        <p>{{ post.content }}</p>
    </div>
</div>
<hr class="featurette-divider">
    {% endfor %}
 </main>
 {% endblock %}
