{% extends 'base.html' %}
{% load static %}
{% block seo %}
    <title>{{ post.title }} | Расчет стоимости почтовых отправлений</title>
    <meta name="description" content='{{ post.content | safe | slice:":150" }}'>
    <meta name="keywords" content="посылка, письмо, бандероль, мелкий пакет, заказное письмо, экспресс посылка, EMS">
    <link rel="canonical" href="{% url 'news_detail' slug=post.slug %}"/>
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:image" content="{{ post.image }}"/>
    <meta property="og:description" content='{{ post.content | safe | slice:":150" }}'/>
    <meta property="og:type" content="article"/>
{% endblock %}
{% block page_content %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis"><a class ="link-dark text-decoration-none" href="{% url 'news_index' %}">Новости</a></h1>
    </div>
  </header>
  <hr>
 <div class="row">
    <div class="col-md-3 order-md-1">
    </div>
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><a class ="text-info text-decoration-none" href="{% url 'news_detail' slug=post.slug %}">{{ post.title }}</a><span class="text-muted"></span></h2>
        <p>{{ post.created_on }} |
      {% for category in post.categories.all %}
      <a href="{% url 'news_category' category.slug %}">
      {{ category.name | capfirst }}
      </a> |
      {% endfor %}
        </p>
        <p>{{ post.content | safe }}</p>
        <img class = "img-fluid" src = "{{ post.image.url}}" alt = "{{ post.alt }}"/>
    </div>
  </div>
  </main>
 {% endblock %}
