{% extends 'base.html' %}
{% load static %}
{% block seo %}
  <title>Новости</title>
  <meta name="description" content="Обновления на сайте {{ page_obj.number }}">
  <meta name="keywords" content="Тарифы, рост тарифов, новые расчеты">
  <link rel="canonical" href="https://posttarif.by/news/?page={{ page_obj.number }}"/>
  <meta property="og:title" content="Новости"/>
  <meta property="og:image" content="https://posttarif.by/apple-touch-icon.png"/>
  <meta property="og:description" content="Обновления на сайте, повышение тарифов"/>
  <meta property="og:type" content="article"/>
{% endblock %}
{% block page_content %}
 <main>
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis"><a class="link-dark text-decoration-none" href="{% url 'news_index' %}">Новости</a></h1>
      <p class="fs-5 text-body-secondary">Последние изменения в работе калькулятора тарифов</p>
    </div>
  </header>
  <hr>
  {% for post in page_obj %}
 <div class="row">
    <div class="col-md-3 order-md-1">
           <img src = "{{ post.image_min.url }}" alt = "{{ post.alt }}"/>
     </div>
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><a class ="text-info text-decoration-none" href="{% url 'news_detail' slug=post.slug %}">{{ post.title }}</a><span class="text-muted"></span></h2>
        <small>{{ post.created_on }}</small>
        <p>{{ post.content | safe | slice:":249" }} <a class ="text-info text-decoration-none" href="{% url 'news_detail' slug=post.slug %}">   читать дальше ...</a></p>
    </div>
  </div>
  <hr class="featurette-divider">
  {% endfor %}
  <div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
     <a href="?page=1">&laquo;</a>
     <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    <span class="current">
<!--      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}-->
      Страница {{ page_obj.number }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
    {% endif %}
  </span>
</div>

  </main>
 {% endblock %}
